{

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "extends": "airbnb-base",
  "rules": {
    "no-use-before-define": [1, { "variables": true }],
    "no-continue": [1],
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "globals": {
    "gapi": true,
    "axios": true
  }
}