html,
body,
#infoarte,
main{
	height: 100%;
}
.g-container{
	max-width: $widthContainer;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

// .g-color-1{ background-color: $yellow }
// .g-color-2{ background-color: $lilac }
// .g-color-3{ background-color: $blue }
// .g-color-4{ background-color: $orange }
// .g-color-5{ background-color: $green }
[color="yellow"]{ background-color: $yellow }
[color="lilac"]{ background-color: $lilac }
[color="blue"]{ background-color: $blue }
[color="orange"]{ background-color: $orange }
[color="green"]{ background-color: $green }

.g-button{
  width: 100%;
  max-width: 230px;
  min-height: 40px;
  background-color: #fff;
  cursor: pointer;
  display: block;
  user-select:none;
  padding: 0;
  &.g-button-text{
    @include set-font(23px, $fl, #474848);
    text-transform: uppercase;
  }
  &:active,
  &:focus,
  &:hover{
    outline: 0;
    background: #fff;
  }
}

.g-text-center{
  text-align: center;
};

// Revisar esse código
body{
  &.g-overflow{
    overflow: hidden;
  }
  #sticker {
    z-index: 100000000000000000000000000000;
    position: relative !important;
  }
  #menu-editoria{
    z-index: 100000000000000000000000000000;
  }
  .head-materia{
    height: 0;
    overflow: hidden;
  }
  #all_banner{
    height: 0 !important;
    overflow: hidden  !important;
    padding: 0  !important;
    border: none  !important;
    background: none  !important;
    margin: 0  !important;
  }
  article
  & + .row{
    display: none;
  }
  &.row:nth-child(1){
    display: none;
  }
}




