/*
+---------------------------------+
 Variáveis 
+---------------------------------+
*/

$widthContainer :  1280px;


/*
+---------------------------------+
 Fontes 
+---------------------------------+
*/

$fc: "Times New Roman", serif;
$fa: Arial, $fc;
$fl: OgloboCondensedLight, $fc;
$fr: OgloboCondensedRegular, $fc;
$fsb: OgloboCondensedSemibold, $fc;
$fm: OgloboCondensedMedium, $fc;
$fb: OgloboCondensedBold, $fc;
$fg: Georgia, $fc;


/*
+---------------------------------+
 Cores
+---------------------------------+
*/

$yellow: #f4d90c;
$green: #188636;
$blue: #42bac0;
$orange: #ee833b;
$lilac: #a77db6;

